
NatureListService/.vs/
NatureListService/NatureListService/bin/
NatureListService/NatureListService/obj/
ClientProject/.vs/
ClientProject/ClientProject/.vs/
ClientProject/ClientProject/bin/
ClientProject/ClientProject/obj/
ClientProject/ClientProject/packages/
